.card>*, .card {
    border-radius: 0px !important;
}

.card-header {
    background-color: #343a40 !important;
    color: white;
}

body {
    text-align: center;
}

#title {
    margin-top: 100px;
}

#card-row {
    padding: 24px;
}