.card>*, .card {
    border-radius: 0px !important;
}

.container {
    padding: 18px;
    -webkit-box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.57);
}

.card {
    display: none;
}

.card-header {
    background-color: #343a40 !important;
    color: white;
}

body {
    text-align: center;
}

#title {
    margin-top: 100px;
}

#landkreisImage, #landkreisTitle, #apiReturnTitle {
    margin: 24px;
}

#card-row {
    padding: 24px;
}

#bottomnav {
    margin-top: 80px;
}

#RKITarget, #apiReturnTitle {
    display: none;
}